
<!-- Start footer -->
<div class="full-footer">
  <ul class="footer-ul">
    <li><a routerLink="" class="active"><i class="fas fa-list"></i><br>Search</a></li>
    <li><a (click)="changeRoute('Social')"><i class="fas fa-user"></i><br>Social</a></li>
    <li><a (click)="changeRoute('Advertise')"><i class="fas fa-broadcast-tower"></i><br>Advertise</a></li>
    <li><a (click)="changeRoute('freeListing')"><i class="fas fa-list"></i><br>Listing</a></li>
    <li><a (click)="changeRoute('Social')" ><i class="fas fa-user"></i><br>Social</a></li>
  </ul>
</div>
<!-- End footer -->